
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
    </tr>
    <tr>
        <td id="id"></td>
        <td id="name"></td>
        <td id="description"></td>
    </tr>
</table>

<script type="text/javascript">
    var aUrl = '@Url.RouteUrl("DefaultApi", new {controller = "category"})';
    $(document).ready(function () {        
        $.ajax({
            type: "GET",            
            //url: "/MedTech.Web.Api/api/category",
            url: aUrl,
            success: function (data) {
                alert("Прибыли данные: " + data.Id);
            }
        });
    });
</script>

