@using MedTech.Core.Domain.CompanyInfo

<h2 class="page-header">Информация о компании</h2>
<!-- Content Row -->
<div class="row">
    <!-- Map Column -->
    <div id="map-col" class="col-md-7">
        <!-- Embedded Google Map -->        
    </div>
    <!-- Contact Details Column -->
    <div class="col-md-5">
        <h3>{{companyInfo.name}}</h3>
        <address>
            <strong>Адрес</strong><br>
            {{companyInfo.address}}
        </address>        
        <address ng-if="phone">
            <strong>Телефон</strong><br>
            <div ng-repeat="contact in companyInfo.contacts" ng-if="contact.contactType=='@((int)ContactEnum.Phone)'">
                <div>{{contact.value}}</div>
            </div>
        </address>
        <address ng-if="fax">
            <strong>Факс</strong><br>
            <div ng-repeat="contact in companyInfo.contacts" ng-if="contact.contactType=='@((int)ContactEnum.Pax)'">
                <div>{{contact.value}}</div>
            </div>
        </address>
        <address ng-if="mail">
            <strong>Email</strong><br>
            <div ng-repeat="contact in companyInfo.contacts" ng-if="contact.contactType=='@((int)ContactEnum.Email)'">
                <a href="mailto:{{contact.value}}">{{contact.value}}</a>
            </div>
        </address>                
        <address ng-if="website">
            <strong>Веб-сайт</strong><br>
            <div ng-repeat="contact in companyInfo.contacts" ng-if="contact.contactType=='@((int)ContactEnum.WebSite)'">
                <a href="{{contact.value}}">{{contact.value}}</a>
            </div>
        </address>
        <address ng-if="companyInfo.description">
            <strong>Дополнительная информация</strong><br>
            {{companyInfo.description}}
        </address>  
    </div>
</div>
<!-- /.row -->

